@import url("https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&family=Playpen+Sans:wght@100..800&display=swap");
@import "tailwindcss";

@theme inline {
  --font-playpen-sans: "Playpen Sans", sans-serif;

  --color-primary-200: oklch(0.8059 0.1603 76.24 / 0.2);
  --color-primary-500: oklch(0.8059 0.1603 76.24);

  /* --color-secondary-500: oklch(0.7177 0.1511 120.14); */

  --color-light-500: oklch(0.9735 0.0098 87.47);

  --color-dark-500: oklch(0.2882 0.0197 59.49);

  --drop-shadow: 0.5em 0.5em 0 var(--color-dark-500);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-playpen-sans);
  color: var(--color-dark-500);
  background-color: var(--color-light-500);
}

input[type="range"] {
  appearance: none;
  width: 100%;
  height: 0.75em;
  background: var(--color-light-500);
  border-radius: 9999px;
  border: 1px solid var(--color-dark-500);
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 1em;
  height: 1.5em;
  background: var(--color-primary-500);
  border-radius: 0.25em;
  border: 1px solid var(--color-dark-500);
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  appearance: none;
  width: 1em;
  height: 1.5em;
  background: var(--color-primary-500);
  border-radius: 0.25em;
  border: 1px solid var(--color-dark-500);
  cursor: pointer;
}
